graphs {
  graph_id: 237816406
  priority: 0

  engines {
    id: 448
    engine_name: "object_detection"
    side: DEVICE
    thread_num: 1
    so_name: "../../../ascend_lib/libascend_ezdvpp.so"
    so_name: "./libobject_detection.so"
    ai_config {

      items {
        name: "model_path"
        value: "../../../../HIAI_DATANDMODELSET/ascend_workspace/vgg_ssd.om"
      }

      items {
        name: "init_config"
        value: ""
      }

      items {
        name: "passcode"
        value: ""
      }

      items {
        name: "dump_list"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }

      items {
        name: "batch_size"
        value: "1"
      }
    }
  }

  engines {
    id: 388
    engine_name: "video_decode"
    side: HOST
    thread_num: 1
    so_name: "./libvideo_decode.so"
    ai_config {

      items {
        name: "channel1"
        value: "${template_channel1}"
      }

      items {
        name: "channel2"
        value: "${template_channel2}"
      }
    }
  }

  engines {
    id: 280
    engine_name: "pedestrian_attr_inference"
    side: DEVICE
    thread_num: 1
    so_name: "../../../ascend_lib/libascend_ezdvpp.so"
    so_name: "./libpedestrian_attr_inference.so"
    ai_config {

      items {
        name: "model_path"
        value: "../../../../HIAI_DATANDMODELSET/ascend_workspace/pedestrian.om"
      }

      items {
        name: "init_config"
        value: ""
      }

      items {
        name: "passcode"
        value: ""
      }

      items {
        name: "dump_list"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }

      items {
        name: "batch_size"
        value: "1"
      }
    }
  }

  engines {
    id: 643
    engine_name: "age_inference"
    side: DEVICE
    thread_num: 1
    so_name: "../../../ascend_lib/libascend_ezdvpp.so"
    so_name: "./libage_inference.so"
    ai_config {

      items {
        name: "model_path"
        value: "../../../../HIAI_DATANDMODELSET/ascend_workspace/inception_age.om"
      }

      items {
        name: "init_config"
        value: ""
      }

      items {
        name: "passcode"
        value: ""
      }

      items {
        name: "dump_list"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }

      items {
        name: "batch_size"
        value: "10"
      }
    }
  }

  engines {
    id: 795
    engine_name: "gender_inference"
    side: DEVICE
    thread_num: 1
    so_name: "../../../ascend_lib/libascend_ezdvpp.so"
    so_name: "./libgender_inference.so"
    ai_config {

      items {
        name: "model_path"
        value: "../../../../HIAI_DATANDMODELSET/ascend_workspace/inception_gender.om"
      }

      items {
        name: "init_config"
        value: ""
      }

      items {
        name: "passcode"
        value: ""
      }

      items {
        name: "dump_list"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }

      items {
        name: "batch_size"
        value: "10"
      }
    }
  }

  engines {
    id: 592
    engine_name: "face_detection"
    side: DEVICE
    thread_num: 1
    so_name: "../../../ascend_lib/libascend_ezdvpp.so"
    so_name: "./libface_detection.so"
    ai_config {

      items {
        name: "Confidence"
        value: "0.5"
      }

      items {
        name: "model_path"
        value: "../../../../HIAI_DATANDMODELSET/ascend_workspace/face_detection.om"
      }

      items {
        name: "init_config"
        value: ""
      }

      items {
        name: "passcode"
        value: ""
      }

      items {
        name: "dump_list"
        value: ""
      }

      items {
        name: "dvpp_parapath"
        value: ""
      }

      items {
        name: "batch_size"
        value: "1"
      }
    }
  }

  engines {
    id: 994
    engine_name: "object_detection_post"
    side: DEVICE
    thread_num: 1
    so_name: "../../../ascend_lib/libascend_ezdvpp.so"
    so_name: "./libobject_detection_post.so"
    ai_config {

      items {
        name: "output_name"
        value: "prob"
      }

      items {
        name: "Confidence"
        value: "0.9"
      }
    }
  }

  engines {
    id: 654
    engine_name: "video_analysis_post"
    side: HOST
    thread_num: 1
    so_name: "./libvideo_analysis_post.so"
    ai_config {

      items {
        name: "output_name"
        value: "prob"
      }

      items {
        name: "output_settings"
        value: ""
      }

      items {
        name: "presenter_server_ip"
        value: "${template_presenter_ip}"
      }

      items {
        name: "presenter_server_port"
        value: "${template_presenter_port}"
      }

      items {
        name: "app_name"
        value: "${template_app_name}"
      }
    }
  }

  connects {
    src_engine_id: 388
    src_port_id: 0
    target_engine_id: 448
    target_port_id: 0
  }

  connects {
    src_engine_id: 592
    src_port_id: 1
    target_engine_id: 643
    target_port_id: 0
  }

  connects {
    src_engine_id: 592
    src_port_id: 2
    target_engine_id: 795
    target_port_id: 0
  }

  connects {
    src_engine_id: 448
    src_port_id: 0
    target_engine_id: 994
    target_port_id: 0
  }

  connects {
    src_engine_id: 994
    src_port_id: 1
    target_engine_id: 280
    target_port_id: 0
  }

  connects {
    src_engine_id: 994
    src_port_id: 2
    target_engine_id: 592
    target_port_id: 0
  }

  connects {
    src_engine_id: 994
    src_port_id: 0
    target_engine_id: 654
    target_port_id: 0
  }

  connects {
    src_engine_id: 280
    src_port_id: 0
    target_engine_id: 654
    target_port_id: 1
  }

  connects {
    src_engine_id: 592
    src_port_id: 0
    target_engine_id: 654
    target_port_id: 2
  }

  connects {
    src_engine_id: 643
    src_port_id: 0
    target_engine_id: 654
    target_port_id: 3
  }

  connects {
    src_engine_id: 795
    src_port_id: 0
    target_engine_id: 654
    target_port_id: 4
  }
}			
